<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <a href="/home">홈으로</a><br>
        <a href="/login">로그인</a><br>
        <a href="/info">회사 정보</a><br>
        <a href="/position">회사 위치</a><br>
        <hr color="red" size="5" width="400">

        <form action="/login" method="POST">
            아이디 : <input type="text" name="memberid"><br>
            패스워드 : <input type="password" name="password"><br>
            <input class="btn" type="submit" value="확인">
        </form>
    </div>
</body>
</html>